.post {
    display: block;
    width: 270px;
    height: 300px;
    text-align: center;
}

.divaaa {
    display: flex;
    flex-wrap: wrap;
}

.comments {
    display: block;
    width: 470px;
    height: 300px;
    text-align: center;
}

.awwa {
    display: flex;
    flex-wrap: wrap;
}